# Arquivos e pastas do ambiente virtual
.venv/
virtualenv/
env/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos temporários e de mídia extraída
temp/
media/

# Instaladores e executáveis
*.exe
*.msi
